.tour-page {
  //   background-color: olivedrab;

  .tour-page-content {
    // background-color: khaki;

    .new-zealand-tour-header {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/tour-04.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .new-zealand-page-row {
      .new-zealand-image1 {
        background-image: url(../images/nz-tour-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .new-zealand-image2 {
        background-image: url(../images/nz-tour-02.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .new-zealand-image3 {
        background-image: url(../images/nz-tour-03.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}