.tour-page {
  //   background-color: olivedrab;

  .tour-page-content {
    // background-color: khaki;

    .usa-tour-header {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/tour-02.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .usa-page-row {
      .usa-image1 {
        background-image: url(../images/usa-tour-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .usa-image2 {
        background-image: url(../images/usa-tour-02.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .usa-image3 {
        background-image: url(../images/usa-tour-03.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}